<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApdEmxxyIM8J9w55lnKyXkgbKnscuSqQU</string>
	<key>GCM_SENDER_ID</key>
	<string>75222365705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sgsits.ac.gym</string>
	<key>PROJECT_ID</key>
	<string>sgsits-gym</string>
	<key>STORAGE_BUCKET</key>
	<string>sgsits-gym.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75222365705:ios:b43ad7248cc25b28e2ead8</string>
</dict>
</plist>